<div class="row">
  <span>Anthony Tong</span>
  <div class="top">
    <span class="k">CS + Applied Math, UC San Diego</span>
    <nav>
      <a class="{% if page.nav == 'about' %}on{% endif %}" href="/">About</a>
      <a class="{% if page.nav == 'publications' %}on{% endif %}" href="/publications/">Publications</a>
      <a class="{% if page.nav == 'awards' %}on{% endif %}" href="/awards/">Awards</a>
      <a class="{% if page.nav == 'blog' %}on{% endif %}" href="/blogs/">Blog</a>
    </nav>
  </div>
</div>
